<%= form_tag(session_path, :id => "loginform") do -%>

    <%= text_field_tag 'login', "Username", :class => "login-credentials initial", "data-stdtext" => "Username" %>

    <%= check_box_tag 'remember_me', '1', @remember_me %>
    <%= label_tag 'remember_me', 'Remember me', :id => "remember-me" %>

    <a href="#" id="submit">Start Graylog2</a>

<% end -%>
